@model MVCEF_Participation.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Student Details</h2>

<div>
    <h4>@Model.FirstName @Model.LastName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Student's Favorite Color: @Model.FavoriteColor</dt>
        <dt>Student ID: @Model.StudentID</dt>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
